.b-div {
    min-height: 100px;
    max-height: fit-content;
    width: 400px;
    background-color: aquamarine;
    margin: auto;
    margin-top: 70px;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
}

.b-textfield {
    height: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    /*padding-left: 5%;
    padding-right: 5%;*/
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10px;
    border: 0px;
    outline: 0px;
    margin-top: 10px;
    width:90%;
}